<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jioukaoyao"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity_login"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Set"
            android:label="@string/title_activity_date" >
        </activity>
        <activity
            android:name=".Activity_Choose"
            android:label="@string/title_activity_choose" >
        </activity>
        <activity
            android:name=".Activity_Results"
            android:label="@string/title_activity_results" >
        </activity>
        <activity
            android:name=".Activity_Friend"
            android:label="@string/title_activity_friend" >
        </activity>
        <activity
            android:name=".Activity_Register"
            android:label="@string/title_activity_register" >
        </activity>
    </application>

</manifest>
